.contacto {
  z-index: 1;
  padding: 40px;

  //   background-color: $color_fondo;
  .contacto_formulario {
    width: 70%;
    padding: 20px 20px;
    background-color: $color_fondo_degradado;
  }
}
