@mixin texto_alineado {
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin boton_card {
  color: white;
  width: 120px;
  padding: 5px;
  font-size: 24px;
  background-color: #38726c;
  border-radius: 9px;
  margin-bottom: 10px;
  text-decoration: none;
}
@mixin diseno_card {
  box-shadow: 4px 4px 10px;
  border-radius: 10px;
  background-color: $color_descricion;
}

.ejemplos {
  background-color: $color_fondo;
  display: flex;
  align-items: center;
  flex-direction: column;
  .ejemplos__card {
    width: 100%;
    display: flex;

    .ejemplos__demostracion {
      width: 100%;
      padding: 50px;
      margin: 0 auto;

      //   ejemplo card
      .card {
        margin: 0 auto;
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        @include diseno_card;

        .card__imagen {
          width: 100%;
          img {
            width: 100%;
            border-radius: 10px 10px 0px 0px;
          }
        }
        .card__texto {
          width: 100%;
          color: black;
          margin: 0 auto;
          h2 {
            padding: 10px;
          }
          p {
            padding: 10px;
          }
          .boton {
            width: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
            a {
              @include boton_card;
            }
          }
        }
      }
      .card:hover {
        transform: scale(1.2);
        z-index: 2;
      }

      //   ejemplo card1
      .card1 {
        margin: 0 auto;
        // border: 1px solid black;
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        @include diseno_card;
        .card1__imagen {
          width: 100%;
          img {
            width: 100%;
            border-radius: 10px 10px 0px 0px;
          }
        }
        .card1__texto {
          width: 100%;
          color: black;
          h2 {
            padding: 10px;
          }
          p {
            padding: 10px;
          }
          .boton {
            width: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
            a {
              @include boton_card;
            }
          }
        }
      }
      .card1:hover {
        img {
          filter: grayscale(90%);
        }
      }
      //   ejemplo card2
      .card2 {
        margin: 0 auto;
        position: relative;
        width: 300px;
        height: 350px;
        @include diseno_card;

        .card2__imagen {
          position: absolute;
          width: 250px;
          height: 198px;
          left: calc(50% - 250px / 2);
          bottom: 82px;
          img {
            width: 100%;
          }
        }
        .card2__texto {
          position: absolute;
          width: 226px;
          height: 300px;
          left: 37px;
          top: 165px;
          display: flex;
          flex-direction: column;
          opacity: 0;
          h2 {
            font-size: 24px;
          }

          .boton,
          h2,
          p {
            margin-top: 5px;
          }
          .boton {
            align-self: center;
            a {
              @include boton_card;
            }
          }
        }
      }
    }
    .card2:hover {
      img {
        transform: translate(0px, -100px);
        transition: transform 2s;
      }
      .card2__texto {
        opacity: 1;
        transition: opacity 0.1s;
        transition-delay: 1s;
      }
    }
    .ejemplos__descripcion {
      @include texto_alineado;
      a {
        @include botones;
      }
    }
  }
}
