.ejemplosSass {
  background-color: $color_fondo;
  .ejemplo1,
  .ejemplo2 {
    padding: 30px;

    .ejemplosSass__fondo {
      background-image: url('../assets/img/fondo_ejemplo.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 400px;
      position: relative;
      .texto {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .texto__titulo {
          color: white;
        }
        .texto__buscador {
          border-radius: 50px;
          background-color: white;
          padding: 5px 15px;
          input {
            border: 1px solid white;
          }
        }
      }
    }
    .ejemplosSass__texto {
      height: 400px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      a {
        margin-top: 10px;
        @include botones;
      }
    }
  }
  .ejemplo2 {
    .ejemplosSass__boton {
      height: 400px;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;

      .boton {
        background-color: black;
        width: 250px;
        height: 60px;
        text-align: center;
        position: relative;
        .boton__fondo {
          width: 252px;
          height: 62px;
          position: absolute;
          top: -1px;
          left: -1px;
        }
        a {
          width: 100%;
          height: 100%;
          left: 0px;
          top: 0px;
          background-color: black;
          position: absolute;
          font-size: 45px;
          margin: auto 0;
          text-decoration: none;
          color: white;
        }
      }

      .boton:hover {
        .boton__fondo {
          background-color: yellow;
        }
      }
    }
    .ejemplosSass__texto {
      height: 400px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      a {
        margin-top: 10px;
        @include botones;
      }
    }
  }
}
