$boton_inicial: #13505b;
$color_fondo: #d4dcff;
$boton_hover: #0c7489;
$color_seccion: #adc2c4;
$color_descricion: #d7d9ce;
$color_menu: #040f11;
$degradado: linear-gradient(
  180deg,
  hsla(0, 0%, 100%, 1) 0%,
  hsla(208, 90%, 88%, 1) 19%
);
