@import 'variables';
@import 'reset';

// se importar archivo boostrap

@import '../node_modules/bootstrap/scss/bootstrap.scss';

@mixin botones {
  text-decoration: none;
  width: 300px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  background: $boton_inicial;
  border-radius: 10px;
}

// menu inicial de la pagina
.navbar {
  a {
    font-size: 24px;
  }
  .nav-item {
    margin-left: 20px;
  }
}
// seccion de cabecera
.header {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url('../assets/img/Home.png');
  background-repeat: no-repeat;
  background-size: cover;
  .header__fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color_menu;
    opacity: 0.5;
  }
  .header__texto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    a {
      @include botones;
    }
  }
}
// seccion de tarjetas
.main {
  width: 100vw;
  height: auto;
  .main__seccionOpciones {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px;
    .main__card {
      width: 300px;
      margin-top: 20px;
      box-shadow: 4px 4px 10px black;
      border-radius: 10px;
      img {
        width: 100%;
        height: 205px;
        border-radius: 10px;
      }
      .main__cardTexto {
        display: flex;
        flex-direction: column;
        margin: 30px 15px;
        h2 {
          font-size: 24px;
        }
        a {
          @include botones;
          width: 90%;
          margin: 0 auto;
        }
      }
    }
  }
  .main__librosDestacados {
    width: 60%;
    box-shadow: 4px 4px 10px black;
    img {
      margin: 0 auto;
    }
    .textoLibro {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      a {
        @include botones;
        margin-bottom: 20px;
      }
    }
  }
}

// seccion de libros destacados

// seccion del footer
.footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: $color_menu;
  padding: 5px 0;
  .footer__logo {
    p {
      font-size: 16px;
    }
    text-align: center;
    font-size: 24px;
    color: white;
    border-bottom: 2px solid white;
  }
  .footer__red {
    width: 60%;
    display: flex;
    justify-content: space-around;
  }
}

@import 'css';
@import 'contacto';
@import 'bootstrap';
@import 'sass';
