@import 'variables';
@import 'reset';

// se importar archivo boostrap

@import '../node_modules/bootstrap/scss/bootstrap.scss';

@mixin botones {
  text-decoration: none;
  width: 300px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  background: $boton_inicial;
  border-radius: 10px;
}

// menu inicial de la pagina
.menu {
  display: flex;
  justify-content: space-around;
  background-color: $color_menu;
  padding: 10px;
  .menu__logo {
    height: 100%;
  }
  .menu__opciones {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: 1f;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .item {
      list-style: none;
      margin-left: 10px;
      text-align: center;
      a {
        text-decoration: none;
        color: white;
        font-size: 1.5em;
      }
    }
  }
}
// seccion de cabecera
.header {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url('../assets/img/Home.png');
  background-repeat: no-repeat;
  background-size: cover;
  .header__fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color_menu;
    opacity: 0.5;
  }
  .header__texto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    a {
      @include botones;
    }
  }
}
// seccion de tarjetas
.main {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px;
  .main__card {
    width: 300px;
    box-shadow: 4px 4px 10px black;
    border-radius: 10px;
    img {
      width: 100%;
      height: 205px;
      border-radius: 10px;
    }
    .main__cardTexto {
      display: flex;
      flex-direction: column;
      margin: 30px 15px;
      a {
        @include botones;
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}
// seccion de libros destacados
.seccionDestacados {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: $degradado;
  .seccionLibros {
    background-color: $color_descricion;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 4px 4px 10px black;
    margin: 60px 0px;
    img {
      width: 250px;
    }
    .seccionLibros__descripcion {
      margin-left: 50px;
      .boton {
        @include botones;
      }
    }
  }
}

// seccion del footer
.footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color_menu;
  padding: 5px 0;
  .footer__logo {
    text-align: center;
    font-size: 24px;
    color: white;
    border-bottom: 2px solid white;
  }
  .footer__red {
    width: 60%;
    display: flex;
    justify-content: space-around;
  }
}
