@import 'variables';
@import 'reset';

// se importar archivo boostrap

@import '../node_modules/bootstrap/scss/bootstrap.scss';

@mixin botones {
  margin: 30px 0;
  text-decoration: none;
  width: 300px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  background: $boton_inicial;
  border-radius: 10px;
}

// menu inicial de la pagina
.navbar {
  a {
    font-size: 24px;
  }
  .nav-item {
    margin-left: 20px;
  }
}
// seccion de cabecera
.header {
  width: 100vw;
  height: 100vh;
  position: relative;

  .header__fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color_menu;
    opacity: 0.5;
  }
  .header__texto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;

    a {
      @include botones;
    }
  }
}
.index {
  background-image: url('../assets/img/foto1__100.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.css {
  background-image: url('../assets/img/foto2__100.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.bootstrap {
  background-image: url('../assets/img/foto3__100.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.sass {
  background-image: url('../assets/img/foto4__100.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.nosotros {
  background-image: url('../assets/img/foto5__100.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.contacto {
  background-image: url('../assets/img/foto6__100.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

// seccion de tarjetas
.main {
  width: 100vw;
  height: auto;
  .main__seccionOpciones {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px;
    .main__card {
      width: 300px;
      min-width: 250px;
      margin-top: 20px;
      box-shadow: 4px 4px 10px black;
      border-radius: 10px;
      img {
        width: 100%;
        height: 205px;
        border-radius: 10px;
      }
      .main__cardTexto {
        display: flex;
        flex-direction: column;
        margin: 30px 15px;
        h2 {
          font-size: 24px;
        }
        a {
          @include botones;
          width: 90%;
          margin: 0 auto;
        }
      }
    }
  }
  .librosDestacados {
    background-color: $color_seccion;
    border-radius: 12px;
    margin: 40px auto;
    width: 65%;
    display: grid;
    grid-template-columns: 10px 1fr 1fr 10px;
    grid-template-rows: 20px 1fr 20px;
    justify-items: center;
    align-items: center;
    img {
      width: 300px;
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .libroDestacado__texto {
      width: 100%;
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 3;
      grid-column-end: 4;
      a {
        @include botones;
        width: 70%;
        margin: 0 auto;
      }
    }
  }

  @media (max-width: 768px) {
    .index {
      background-image: url('../assets/img/foto1__50.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .css {
      background-image: url('../assets/img/foto2__50.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .bootstrap {
      background-image: url('../assets/img/foto3__50.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .sass {
      background-image: url('../assets/img/foto4__50.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .nosotros {
      background-image: url('../assets/img/foto5__50.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .contacto {
      background-image: url('../assets/img/foto6__50.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .librosDestacados {
      grid-template-columns: 30px 1fr 30px;
      grid-template-rows: 20px 1fr 1fr 20px;
      img {
        width: 300px;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
      }
      .libroDestacado__texto {
        width: 80%;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
        a {
          @include botones;
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  }
  @media (max-width: 425px) {
    .index {
      background-image: url('../assets/img/foto1__25.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .css {
      background-image: url('../assets/img/foto2__25.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .bootstrap {
      background-image: url('../assets/img/foto3__25.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .sass {
      background-image: url('../assets/img/foto4__25.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .nosotros {
      background-image: url('../assets/img/foto5__25.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .contacto {
      background-image: url('../assets/img/foto6__25.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    // .main__card {
    //   width: 250px;
    // }
    .librosDestacados {
      grid-template-columns: 10px 1fr 10px;
      grid-template-rows: 10px 1fr 1fr 10px;
      img {
        width: 90%;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
      }
      .libroDestacado__texto {
        width: 80%;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
        a {
          @include botones;
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  }
}

// seccion del footer
.footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: $color_menu;
  padding: 5px 0;
  .footer__logo {
    p {
      font-size: 16px;
    }
    text-align: center;
    font-size: 24px;
    color: white;
    border-bottom: 2px solid white;
  }
  .footer__red {
    width: 60%;
    display: flex;
    justify-content: space-around;
  }
}

@import 'css';
@import 'contacto';
@import 'bootstrap';
@import 'sass';
@import 'nosotros';
